<div class="main-container">
  <div class="description-container">
    <h2 class="text-blue">Description</h2>
    <p>
      My name is Max Metcalf. I love programming useful tools on the internet. This website is a collection of the tools
      I have built. Some of them are based off of other companies, some of them are original ideas. I hope you enjoy.
    </p>
    <p>
      I provide most of these tools for free. On some of them, there is a small fee to cover my costs of hosting and for third
      party services. I don't gather any data on my visitors. You won't see any google analytics tags and I certainly won't place
      adds on you across the web. I simply build tools, put them on a website, and put a price on them.
    </p>
    <p>
      If you are using a company who provides a tool that is much more expensive than mine, you probably are skeptical. You should be.
      The reason my tools are cheaper than others is because I don't spend money on useless stuff. I barely format this webpage. However, the
      tools are functional, efficient, and get the job done.
    </p>
    <button class="expand-button text-green">Read More</button>
  </div>


  <h2 class="text-blue">List of tools</h2>
  <%= link_to "Work Time Tracker", time_trackers_path %><br>
  <%= link_to "Budget", budget_path %><br>
</div>
