body {
  margin: 0;
  background: $background-color;
}

.main-container {
  margin: 12px 20px;
}

.basic-btn {
  cursor: pointer;
  margin: 5px;
  border: none;
  background: $background-color;
  padding: 3px 5px;
  font-family: $main-font;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  &.black {
    background: black;
    color: white;
  }

  &.green {
    background: $green;
    color: white;
  }

  &.orange {
    background: $orange;
    color: white;
  }

  &.blue {
    background: $blue;
    color: white;
  }

  &.purple {
    background: $purple;
    color: white;
  }

  &.white {
    background: white;
    color: black;
  }
}

.alert-container {
  display: flex;
  position: absolute;
  top: 36px;
  justify-content: center;
  cursor: pointer;
  width: 100%;

  .alert {
    margin: 0 10px;
    padding: 10px;
    max-width: 500px;

    &.alert-danger {
      background: $orange;
      color: white;
    }

    &.alert-success {
      background: $green;
      color: white;
    }
  }
}

.basic-form {
  padding: 12px 0;

  .form-group {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    width: 50%;

    input {
      width: 60%;
    }

    label {
      width: 40%;
    }
    @include small-down {
      width: 100%;
    }
  }
}
