.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 10px 20px;

  .site-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    @include xsmall-down {
      font-size: 18px;
    }
  }

  .nav-links a {
    margin: 0 5px;
    @include xsmall-down {
      margin: 0 2px;
    }
  }
}
